@reference "../../tailwind.css";
@import "./prism-code.css";

.blog {
  color: var(--font-color-light);
  background-color: var(--font-bg-light);
  @apply md:text-xl text-lg;
}
.blog.dark {
  background-color: var(--font-bg-dark);
  background-color: var(--font-bg-dark);
}

.blog * {
  font-family: "San Francisco", Arial, sans-serif;
  color: var(--font-color-light);
  background-color: var(--font-bg-light);
}
.blog.dark * {
  color: var(--font-color-dark);
  background-color: var(--font-bg-dark);
}

/* headings inside blog */
.blog-h1 {
  @apply md:text-6xl text-4xl font-bold mt-8 mb-6;
}
.blog h2 {
  @apply md:text-3xl text-2xl font-bold mt-6 mb-4;
}
.blog h3 {
  @apply md:text-xl text-lg font-bold mt-4 mb-2;
}

.blog-caption {
  @apply mt-2 mb-2;
}

figure {
  @apply my-8;
}

.blog ol > li > p {
  @apply mb-4;
}

.no-dot > * {
  @apply list-none;
}

/* blog list */
.blog-link {
  @apply md:text-4xl text-3xl font-bold !text-inherit !no-underline;
}

.blog-link > span:hover {
  @apply !underline;
}
.blog a {
  text-decoration: underline;
  color: rgb(21, 92, 162);
}
.blog a:hover {
  text-decoration: none;
}
.blog-date {
  @apply text-sm md:text-lg ;
  color: var(--font-color-light-secondary);
}
.blog.dark .blog-date {
  color: var(--font-color-dark-secondary);
}


.blog pre > code * {
  font-family:
    Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.blog code {
  font-family:
    Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  color: rgb(151, 0, 0);
}

/* Lists in markdown content */
@layer components {
  .markdown ul {
    @apply !list-disc !ml-5;
  }
  .markdown ol {
    @apply !list-decimal !ml-5;
  }
}

.special-text {
  font-family: Impact, "Arial Black", Haettenschweiler, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.menu-button {
  font-size: 2rem;
  cursor: pointer;
}