/* Color Palette
Primary 1
#ffcc66

Primary 2a
#FFA000 - Vivid Orange Peel 

Primary 2b
#FF8F00 - Dark Orange  

Secondary 1a
#81D4FA - Pale Cyan 

Secondary 1b
#80DEEA - Medium Sky Blue 

Secondary 1c, in image
#66fdff

"White"
#FFF6DB
*/


/*GLOBAL STYLES
------------------------------------*/
body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

main {}

h1 {
    margin: 0;    
}

.lukeH1 {
    color: red;
}

h2 {
    font-size: 2.5em;
    margin: 0;
}

h3 {
    font-size: 2em;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 40px;
}


/*HEADER AND FOOTER
------------------------------------*/
header, footer {
    font-family: Helvetica, sans-serif;
    padding:0;
    margin:0;
}

footer {
    color: #FFF;
    background: #222;
}

.contact-info a {
    color: #FFF;
}

/* "Luke Muehring" at top left of the page */
#name {
    float: left;
    padding: 0px 1em;
    margin: 0;
    line-height: 50px;
}

/*NAV BAR
------------------------------------*/
nav {
    width: 100%;
    height: 50px;
    background-color: white;
    z-index:  999; /*this makes it on top*/
    position: fixed; /*and this makes it stay in place */    
    top: 0px;
}

nav ul {
    float: left;
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    width: 180px;
}

nav ul li:hover ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: white;
    padding: 0px 0px 0px 0px;  
    border-radius: 0px 0px 4px 4px;
}

/*Links in the nav bar*/
nav a {
    display: block;
    font-size: 1em;
    margin: 0;
    padding: 15.75px 0px;  
    text-decoration: none;
    color: #222;
}

/*nav bar dropdown section*/
.nav-dropdown {
    padding: 14px 14px;
}

.nav-dropdown:hover {
    background-color: #f3f3f3;
}

#lastElementInDropdown:hover {
    border-radius: 0px 0px 4px 4px; 
    /*this is to keep the corners of the last dropdown element smooth*/
}

/*NAV BAR
------------------------------------*/
footer {
    text-align: center;
}

.contact-info a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

/*Banner Images and Text (images that span the whole page)
------------------------------------*/


/*Intro section
------------------------------------*/
.intro-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    background-color: #222;
    overflow: auto;
    margin: 0 auto;
}

#intro-img {   
    height: 100%;
    margin-right: 30px;
/*    max-height: 700px;*/
}

#intro-text { 
    display: inline-block;
    font-size: 1.5em;
    flex-grow: 2;
    color: #FFF;
}

/*gradient section
------------------------------------*/
.gradient {
    height: 50vh;
    background-image: linear-gradient(to bottom, #222, #FFF);
}