/* MOBILE */
#nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;

  .ham-menu {
    position: relative;
    height: 75px;
    width: 75px;
    justify-self: right;
    margin-left: auto;
    z-index: 10;
    border-radius: 16px;

    span {
      height: 4px;
      width: 50px;
      background-color: rgb(75, 75, 75);
      position: absolute;
      border-radius: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.2s ease;
    }

    span:nth-child(1) {
      top: 25%;
    }

    span:nth-child(3) {
      top: 75%;
    }
  }

  .ham-menu.active {
    span:nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .ham-menu.dark {
    span {
      background-color: var(--font-color-dark);
    }
  }

  .menu-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    .menu {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      justify-content: center;
      align-items: center;
    }

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(180%) blur(15px);
    overflow: hidden;
  }

  .menu-container.dark {
    background-color: rgba(125, 125, 125, 0.5);
  }

  .menu-container.active {
    pointer-events: all;
    opacity: 1;
  }

  /* Add metallic sheen */
  .menu-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%; /* SHEEN IS ON THE TOP 20% OF THE MENU */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05)
    );
    pointer-events: none;
  }

  .menu-container.dark::before {
    background: transparent;
  }

  .menu-container .menu button {
    --btn-font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    font-size: var(--btn-font-size);
    color: var(--font-color-light);
    background-color: transparent;
    padding: 8px;
    border: none;
    white-space: nowrap;

    cursor: pointer;
    transition: color 0.3s ease;
  }

  .menu-container .menu button:hover {
    color: black;
  }

  .menu-container.dark .menu button {
    color: var(--font-color-dark);
  }

  .menu-container.dark .menu button:hover {
    color: white;
  }
}

/* DESKTOP */
@media (min-width: 916px) {
  #nav {
    height: auto;
    top: 0;

    .ham-menu {
      opacity: 0;
      pointer-events: none;
    }

    .menu-container {
      opacity: 1;
      height: fit-content;
      pointer-events: all;

      .menu {
        position: relative;
        flex-direction: row;
        gap: 5rem;
        height: fit-content;
      }
    }

    .menu-container .menu button {
      --btn-font-scale: 0.95;
      font-size: calc(var(--btn-font-size) * var(--btn-font-scale));

      width: auto;
    }
  }
}

/* WIDE SCREEN */
@media (min-width: 1024px) {
  .menu-container .menu button {
    --btn-font-scale: 1.05;
    font-size: calc(var(--btn-font-size) * var(--btn-font-scale));
  }
}
